# fly.toml app configuration file generated for finite-automaton-visualizer
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "finite-automaton-visualizer"
primary_region = "sin"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1

[env]
  PORT = "8080"
  HOST = "0.0.0.0"
